%h1
  =t('.your_parcels')
-if @parcels
  %table.table.table-striped.parcels-table
    %thead
      %tr
        %th= Parcel.human_attribute_name('parcel_number')
        %th= t('.recipient_city')
        %th= Parcel.human_attribute_name('weight')
        %th= Parcel.human_attribute_name('price')
        %th= Parcel.human_attribute_name('created_at')
        %th= Parcel.human_attribute_name('name')
    %tbody
      - @parcels.each do |parcel|
        %tr
          %td
            = link_to parcel.parcel_number, parcel_path(parcel.parcel_number)
          %td= parcel.recipient_info.city
          %td= number_to_kg(parcel.weight)
          %td= number_to_currency(parcel.price)
          %td= l parcel.created_at
          %td= parcel.name
-else
  =t('.not_logged_in.text_html', log_in: link_to(t('.not_logged_in.log_in'), new_user_session_path))
