= render 'tracking'
-if @parcels && @parcels.any?
  %h1
    = t('.your_parcels')
  %table.table.table-striped.centered-text-table
    %thead
      %tr
        %th= Parcel.human_attribute_name('parcel_number')
        %th= t('.recipient_city')
        %th= Parcel.human_attribute_name('weight')
        %th= Parcel.human_attribute_name('price')
        %th= Parcel.human_attribute_name('created_at')
        -if @parcels.any? { |parcel| parcel.name.present? }
          %th= Parcel.human_attribute_name('name')
    %tbody
      - @parcels.each do |parcel|
        %tr
          %td
            = link_to parcel.parcel_number, parcel_path(parcel.parcel_number)
          %td= parcel.recipient_city
          %td= number_to_kg(parcel.weight)
          %td= number_to_currency(parcel.price)
          %td= l parcel.created_at
          -if @parcels.any? { |parcel| parcel.name.present? }
            %td= parcel.name
-unless user_signed_in?
  %p= t('.not_logged_in.text_html', log_in: link_to(t('.not_logged_in.log_in'), new_user_session_path))
