=link_to t('navigation.my_parcels'), parcels_path
- if @parcel.errors.present?
  .errors.bg-danger
    - @parcel.errors.full_messages.each do |message|
      %p= message
%h1.form-title
  = t('.title')
= form_for @parcel, url: parcels_path, method: :post do |f|
  .col-md-4
    .h3.text-center
      = Parcel.model_name.human
    .form-group.required
      = f.label :weight
      %span.unit (kg)
      = f.text_field :weight, class: 'form-control', onblur: "calculate_price()"
    .form-group.required
      .col-xs-4.no-padding
        = f.label :width
      .col-xs-4.text-center
        = f.label :height
      .col-xs-4.no-padding.text-right
        = f.label :depth
      .input-group
        = f.text_field :width, class: 'form-control no-bg', onblur: "calculate_price()"
        .form-unit.width-unit cm
        .input-group-addon x
        = f.text_field :height, class: 'form-control no-bg', onblur: "calculate_price()"
        .form-unit.height-unit cm
        .input-group-addon x
        = f.text_field :depth, class: 'form-control no-bg', onblur: "calculate_price()"
        .form-unit.depth-unit cm
    .form-group
      = f.label :name
      %i.fa.fa-info-circle.has-tooltip{ 'data-toggle' => 'tooltip', 'data-placement' => 'right', title: t('.parcel_name_tooltip') }
      = f.text_field :name, class: 'form-control'
    .price
      ="#{Parcel.human_attribute_name('price')}:"
      %span#calculated-price
  .col-md-4
    .h3.text-center
      = RecipientInfo.model_name.human
    = f.fields_for :recipient_info do |s|
      .form-group.required
        = s.label :email
        = s.email_field :email, class: 'form-control'
      .form-group.required
        = s.label :contact_name
        = s.text_field :contact_name, class: 'form-control'
      .form-group.required
        = s.label :zip_code
        = s.text_field :zip_code, class: 'form-control'
      .form-group.required
        = s.label :address
        = s.text_field :address, class: 'form-control'
      .form-group.required
        = s.label :city
        = s.text_field :city, class: 'form-control'
      .form-group
        = s.label :phone_number
        %i.fa.fa-info-circle.has-tooltip{ 'data-toggle' => 'tooltip', 'data-placement' => 'right', title: t('.in_case_of_problems_we_will_call_this_number') }
        = s.text_field :phone_number, class: 'form-control'
      .form-group
        = s.label :company_name
        = s.text_field :company_name, class: 'form-control'
      .form-group
        = s.label :other_info
        %i.fa.fa-info-circle.has-tooltip{ 'data-toggle' => 'tooltip', 'data-placement' => 'right', title: t('.other_info_examples') }
        = s.text_field :other_info, class: 'form-control'
      .form-group
        = s.check_box :residential
        = s.label :residential
  .col-md-4
    .h3.text-center
      = SenderInfo.model_name.human
    = f.fields_for :sender_info do |s|
      .form-group.required
        = s.label :email
        = s.email_field :email, class: 'form-control'
      .form-group.required
        = s.label :contact_name
        = s.text_field :contact_name, class: 'form-control'
      .form-group.required
        = s.label :zip_code
        = s.text_field :zip_code, class: 'form-control'
      .form-group.required
        = s.label :address
        = s.text_field :address, class: 'form-control'
      .form-group.required
        = s.label :city
        = s.text_field :city, class: 'form-control'
      .form-group.required
        = s.label :phone_number
        = s.text_field :phone_number, class: 'form-control'
      .form-group
        = s.label :company_name
        = s.text_field :company_name, class: 'form-control'
      .form-group
        = s.label :other_info
        %i.fa.fa-info-circle.has-tooltip{ 'data-toggle' => 'tooltip', 'data-placement' => 'right', title: t('.other_info_examples') }
        = s.text_field :other_info, class: 'form-control'
      .form-group
        = s.check_box :residential
        = s.label :residential
  .text-center
    .form-group
      = f.submit t('.button'), class: 'btn btn-primary'
