%h1
  =t('.parcel_no', parcel_number: @parcel.parcel_number)
%table.table.table-striped.parcels-table
  %thead
    %tr
      %th= t('.recipient_city')
      %th= Parcel.human_attribute_name('weight')
      %th= Parcel.human_attribute_name('price')
      %th= Parcel.human_attribute_name('created_at')
      %th= Parcel.human_attribute_name('name')
  %tbody
    %tr
      %td= @parcel.recipient_info.city
      %td= number_to_kg(@parcel.weight)
      %td= number_to_currency(@parcel.price)
      %td= l @parcel.created_at
      %td= @parcel.name
