%table.table.information-list
  %tbody
    %tr
      %td.col-xs-6= SenderInfo.human_attribute_name('email')
      %td.col-xs-6= info.email
    %tr
      %td.col-xs-6= SenderInfo.human_attribute_name('phone_number')
      %td.col-xs-6= info.phone_number
    %tr
      %td.col-xs-6= SenderInfo.human_attribute_name('company_name')
      %td.col-xs-6= info.company_name
    %tr
      %td.col-xs-6= SenderInfo.human_attribute_name('contact_name')
      %td.col-xs-6= info.contact_name
    %tr
      %td.col-xs-6= SenderInfo.human_attribute_name('address')
      %td.col-xs-6= info.address
    %tr
      %td.col-xs-6= SenderInfo.human_attribute_name('city')
      %td.col-xs-6= info.city
    %tr
      %td.col-xs-6= SenderInfo.human_attribute_name('zip_code')
      %td.col-xs-6= info.zip_code
    %tr
      %td.col-xs-6= SenderInfo.human_attribute_name('residential')
      %td.col-xs-6= t info.residential?.to_s
    %tr
      %td.col-xs-6= SenderInfo.human_attribute_name('other_info')
      %td.col-xs-6= info.other_info
    -if sender.present?
      %tr
        %td.col-xs-6= t('.orders')
        %td.col-xs-6= sender.parcels.count
      %tr
        %td.col-xs-6= t('.delivered_parcels')
        %td.col-xs-6= sender.parcels.delivered.count
