=link_to t('navigation.back'), employee_parcels_path
.row
  %h1.pull-left
    =t('.parcel_no', parcel_number: @parcel.parcel_number)
  .pull-right
    =link_to t('.add_an_operation'), new_employee_operation_path(parcel_number: @parcel.parcel_number), class: 'btn btn-primary pull-right add-operation-button'
.row
  %table.table.centered-text-table
    %thead
      %tr
        %th= Parcel.human_attribute_name('weight')
        %th= Parcel.human_attribute_name('price')
        %th= Parcel.human_attribute_name('from')
        %th= Parcel.human_attribute_name('to')
        %th= Parcel.human_attribute_name('created_at')
        -if @parcel.name
          %th= Parcel.human_attribute_name('name')
    %tbody
      %tr
        %td= number_to_kg(@parcel.weight)
        %td= number_to_currency(@parcel.price, locale: :pl)
        %td= @parcel.from
        %td= @parcel.to
        %td= l @parcel.created_at
        -if @parcel.name
          %td= @parcel.name
.row
  .col-md-6.text-center
    %h3= t('.sender')
    = render 'delivery_info_table', info: @parcel.sender_info
  .col-md-6.text-center
    %h3= t('.recipient')
    = render 'delivery_info_table', info: @parcel.recipient_info
.row
  = form_for [:employee, @parcel] do |f|
    = f.hidden_field :status
    .form-group
      = f.fields_for :operation do |o|
        = o.label :additional_info, t('.comment')
        = o.text_area :additional_info, class: 'form-control'
    .col-xs-6
      -if @parcel.pending? || @parcel.rejected?
        = f.submit t('.accept'), class: 'btn btn-success pull-right', onclick: "document.getElementById('parcel_status').value = 'accepted'"
      -else
        .btn.btn-success.pull-right.inactive= t('.accept')
    .col-xs-6
      -if @parcel.pending? || @parcel.accepted?
        = f.submit t('.reject'), class: 'btn btn-danger', onclick: "document.getElementById('parcel_status').value = 'rejected'"
      -else
        .btn.btn-danger.inactive= t('.reject')
-if @operations.count > 0
  .row
    %h4= t('.previous_operations')
  %table.table.table-striped.centered-text-table
    %thead
      %tr
        %th= Operation.human_attribute_name('created_at')
        %th= Operation.model_name.human
        %th= Operation.human_attribute_name('additional_info')
        %th= Operation.human_attribute_name('user')
    %tbody
      - @operations.each do |operation|
        %tr
          %td= l operation.created_at
          %td= operation_summary(operation)
          %td= operation.additional_info
          %td= operation.author_email if operation.user

