%h1= t('.parcels')
%h3= t('.pending')
= render 'parcel_table', parcels: @pending_parcels
%h3= t('.rejected')
.rejected-parcels
  = render 'parcel_table', parcels: @rejected_parcels
%h3= t('.accepted')
.accepted-parcels
  = render 'parcel_table', parcels: @accepted_parcels
