.row
  .pull-left
    %h1= t('.parcels')
  .tracking-module.pull-right
    = render 'find_parcel_form'
.row
  %h3= t('.pending')
  .pending-parcels
  = render 'parcel_table', parcels: @pending_parcels
  .parcel-pagination-wrapper
    .pagination
      = will_paginate @pending_parcels, param_name: :pending
.row
  %h3= t('.rejected')
  .rejected-parcels
    = render 'parcel_table', parcels: @rejected_parcels
  .parcel-pagination-wrapper
    .pagination
      = will_paginate @rejected_parcels, param_name: :rejected
.row
  %h3= t('.accepted')
  .accepted-parcels
    = render 'parcel_table', parcels: @accepted_parcels
  .parcel-pagination-wrapper
    .pagination
      = will_paginate @accepted_parcels, param_name: :accepted
.row
  %h3= t('.in_transit')
  .parcels-in-transit
    = render 'parcel_table', parcels: @parcels_in_transit
  .parcel-pagination-wrapper
    .pagination
      = will_paginate @parcels_in_transit, param_name: :in_transit
.row
  %h3= t('.delivered')
  .delivered-parcels
    = render 'parcel_table', parcels: @delivered_parcels
  .parcel-pagination-wrapper
    .pagination
      = will_paginate @delivered_parcels, param_name: :delivered
