%p
  = t('mailers.reset_password_instructions.welcome', email: @resource.email)
%p
  = t('mailers.reset_password_instructions.body')
%p
  = link_to t('mailers.reset_password_instructions.link_text'), edit_password_url(@resource, reset_password_token: @token)
%p
  = t('mailers.reset_password_instructions.ignore_this_message')
%p
  = t('mailers.reset_password_instructions.greetings')
