=link_to t('navigation.back'), admin_users_path
%h1
  = @user.email
%table.table.table-striped.centered-text-table
  %thead
    %tr
      %th= User.human_attribute_name('email')
      %th= User.human_attribute_name('created_at')
      %th= t('.parcels_number')
      %th= User.human_attribute_name('role')
      %th
  %tbody
    %tr
      %td= @user.email
      %td= l @user.created_at
      %td= @user.parcels.count
      = form_for [:admin, @user] do |f|
        %td= f.select(:role, roles_for_select, {selected: @user.role}, {class: "form-control"})
        %td= f.submit t('.button'), class: 'btn btn-primary'
