%h3= t('.heading')
.form-inline.tracking-form
  = form_tag parcels_path, method: :get do
    .form-group
      = label_tag :parcel_numbers, t('.parcel_numbers')
      = text_field_tag :parcel_numbers, nil, class: 'form-control'
    .form-group
      = submit_tag t('.button'), class: 'btn btn-primary'
